<header class="ba-header">
	<div class="row column">
		<div class="top-bar">
			<div class="top-bar-title">
				<a class="ba-logo" href="index.html">
					<img src="assets/img/logo.png" alt="logo">
				</a>
			</div>
				<span class="float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
					<button class="menu-icon dark" type="button" data-toggle></button>
				</span>
			<div id="responsive-menu">
				<div class="top-bar-right">
					<ul class="menu vertical medium-horizontal ba-main-menu">
						<li class="menu"><a href="#home">home</a></li>
						<li class="about"><a href="#about">about</a></li>
						<li class="menu"><a href="#works">Works</a></li>
						<li class="menu"><a href="#services">services</a></li>
						<li class="menu"><a href="#contacts">contacts</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>

